{% extends "base.html" %}

{% block content %}
    {% if validlink %}
        <p>Por favor cadastre e confirme sua nova senha.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nova senha:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirme a nova senha:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Mude a Senha" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Reset de senha Falhou</h1>
        <p>O link de reset de senha é invalido, possivelmente ele já foi usado. Por favor peça novamente um novo reset de senha.</p>
    {% endif %}
{% endblock %}